.content-container {
    display: flex;
    flex-direction: column;
    align-items:  center;
}

.content-wrapper {
    max-width: 1000px;
    width: 100%;
    padding: 2rem;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    // minimum gap
    gap: 1rem;

    font-size: 1.5rem;
    font-weight: 400;
}

.header-nav {
    ul {
        display: flex;
        align-items: center;

        gap: 1rem;
        
        li:hover {
            color: var(--color-prettylights-syntax-keyword);
        }
    }
}

.footer {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    // minimum gap
    gap: 1rem;

    font-size: 1rem;
    font-weight: 400;
}

.footer-nav {
    ul {
        display: flex;
        align-items: center;
        gap: 1rem;
        
        li {
            a {
                display: flex;
                align-items: center;
                gap: 0.2rem;
            }

            &:hover {
                color: var(--color-prettylights-syntax-keyword);
            }
        }
    }
}