.wrapper {
  display: flex;
  gap: 2rem;
  padding: 1rem;
  overflow: hidden;
}

.title {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--color-prettylights-syntax-entity);
}

.createdAt {
  padding-bottom: 1rem;
  font-size: 1rem;
  font-weight: 400;
  color: var(--color-prettylights-syntax-comment);
}

.description {
  font-size: 1rem;
  font-weight: 400;
}